body{
    font-family: sans-serif;
    background-color: #00FEFC;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #385555;
}

div.list-contacts{
    background-color: white;
    width: 90%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

ul.lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.list-item{
    border-bottom: 1px solid #eee;
    padding: 15px;
    display: flex;
}

li.list-item:hover{
    background-color: #e8e8e8;
    div.icons img{
        visibility: visible;
    }
}

div.profile-pic img{
    border-radius: 50%;
    margin-right: 15px;
    height: 75px;
    width: 75px;
}

div.about{
    padding: 0 35px;
    flex-grow: 1;
}

div.about p.name{
    font-size: 24px;
    color: #385555;
    margin: 0;
}

div.about p.email{
    margin: 5px 0 0 0;
    color: #aaa;
}

div.icons{
    display: flex;
    gap: 15px;
    align-items: center;
    opacity: .3;
    visibility: hidden;
}

div.icons img:hover{
    cursor: pointer;
}


